
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    :root{
        --color-destak:#aa5959;
        --color-black: #1B1B1B;
        --color-white: #ffffff;
        --font-tittle: "Righteous", sans-serif;
        --font-body: "Roboto", sans-serif;
    }
    *{
        margin: 0;
        list-style: none;
    }
header::before{ 
        content: "";
    background-image: url("../fundo.png");
    background-size: cover;
    height: 100vh;
    width:  100vw;  
    display: block;
    position: absolute;
    z-index: -10;
}

h1{
    font-family: "Righteous", sans-serif;
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 700;

}

h2{
    color:rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 400;
}
#secao-apresentacao {
    display:flex;
    flex-direction: column;
    padding: 32rem; 
    /* 1rem = 16px */
}

#secao-apresentacao img{    
    border-radius: 50%;

}

#texto-apresentacao img{
    color: var(--color-black)

}
#texto-apresentacao h2{
    font-size: 2.5rem;
    font-family: var(--font-tittle);
    flex-direction: column;
    color: #000000;
}

#texto-apresentacao p{
    font-size: 1.5rem;
    font-family: var(--font-body);
    flex-direction: column;
    color: #000000;
}
#secao-projeto{
    background-color: #1B1B1B;
    height: 100vh;
}
#secao-projeto ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    max-width: 300px;
    height: 420px;
    overflow: hidden;
    position: relative;
}
.image-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image-wrapper img {
    object-fit: cover;
}

.card-text{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .5s, top .5s;
}
.card:hover .card-text{
    opacity: 1;
    top: 15%
}
.cord:hover .image-wrapper{
    opacity: 30%;
    transition: opacity .5s;
}
